<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<main role="main" layout:fragment="content">

    <link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}" />
    <div class="row">
        <div class="offset-md-1  col-md-8 offset-1 col-11">
            <ul class="articles">
                <li class="have-img" th:each="blog : ${blogs}">
                    <div class="img-wrap">
                        <img th:src="${blog.thumbnailUrl}"/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <div class="avatar">
                                <img th:src="@{/img/blog/avtar.jpg}"/>
                            </div>
                            <div class="info">
                                <div class="nickname" th:text="${blog.createdBy}">张小名</div>
                                <span th:text="${#strings.substring(blog.createdDate,0,10)}">04.19 12:21</span>
                                <button class="btn btn-default btn-outline-dark btn-sm">原创</button>
                            </div>

                        </div>
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}">
                            <div class="title" th:text="${blog.title}">比贫穷更可怕的，是缺乏这3样东西</div>
                        </a>
                        <div class="abstract" th:text="${blog.abstractContent}">说到贫穷，每个人都想避而远之，毕竟缺起钱来，生活会变得举步维艰。 近年来流行一句话，贫穷限制了你的想象力。 网上看到一个段子，“国民老公”王思聪带狗坐飞机的...

                        </div>
                        <div class="meta">
                            <i class="meta-icon fa fa-eye">&nbsp;168</i>
                            <i class="meta-icon fa fa-comment">&nbsp;28</i>
                            <i class="meta-icon fa fa-thumbs-up">&nbsp;24</i>
                            <i class="meta-icon fa fa-heart">&nbsp;20</i>
                        </div>
                    </div>
                </li>



            </ul>

        </div>
    </div>
</main>