<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.6/bootstrap.min.css}" />
    <script th:src="@{/jquery-1.11.3/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.6/bootstrap.min.js}"></script>



    <link rel="stylesheet" th:href="@{/datatables/dataTables.bootstrap.min.css}"/>
    <script th:src="@{/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/datatables/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/multiselect-master/multiselect.min.js}"></script>
    <script th:src="@{/tutorial/multiselect-dev.js}"></script>



</head>

<body>
<div class="container">
<div class="row">
<a th:href="@{/user/list}"><button class="btn btn-primary">User Management</button></a>
<a th:href="@{/role/list}"><button class="btn btn-primary">Role Management</button></a>
<a th:href="@{/permission/list}"><button class="btn btn-primary">Permission Management</button></a>
<br><br>
</div>
</div>

<div class="container" layout:fragment="content">
</div>





  
</body>
</html>