<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<div layout:fragment="content">

<div class="container">

<div class="row">
<form id="loginForm" method="post">
  
    <lable>username</lable> 
      <input name="username" type="text" placeholder="username" />
    <lable>password</lable>
      <input name="password" type="password" placeholder="password" />
    <button id="btnLogin" type="button" class="btn btn-primary">login</button>    

</form>
</div>

</div>




</div>

