<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="container">

        <div class="row">
            <a th:href="@{/role/add}"><button class="btn btn-primary">添加角色</button></a>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="rTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>角色名称</th>
                        <th>角色权限</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="role : ${roles}">
                        <td th:text="${role.id}">角色编号</td>
                        <td th:text="${role.rolename}">角色名称</td>
                        <td>
                            <div th:each="permission : ${role.permissions}">
                                <button type="button" class="btn btn-default btn-xs" th:text="${permission.permissionName}"></button>
                            </div>
                        </td>
                        <td>
                            <a th:href="@{/role/add}"><button class="btn btn-primary">添加角色</button></a>
                            <a th:href="@{/role/delete/{id}(id=${role.id})}"><button class="btn btn-danger">删除角色</button></a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#rTable').DataTable({

            });
        });
    </script>

</div>