<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="utf-8">

    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Resig</title>


    <meta name="description" content="Resig Spring boot">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/dev/css/resig.css}" />

   
    <script th:src="@{assets/vendor/jquery/jquery.2.1.3.min.js}"></script>

</head>
<body>

</body>
</html>