<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="container">

        <div class="row">
            <a th:href="@{/user/add}"><button class="btn btn-primary">添加用户</button></a>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="uTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>用户名称</th>
                        <th>用户角色</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">用户编号</td>
                        <td th:text="${user.username}">用户角色</td>
                        <td>
                            <div th:each="role : ${user.roles}">
                                <button type="button" class="btn btn-default btn-xs" th:text="${role.rolename}"></button>
                            </div>
                        </td>
                        <td>
                            <a th:href="@{/user/add}"><button class="btn btn-primary">添加用户</button></a>
                            <a th:href="@{/user/delete/{id}(id=${user.id})}"><button class="btn btn-danger">删除用户</button></a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#uTable').DataTable({

            });
        });
    </script>

</div>